# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/

# Environment variables
.env
*.env
.env.local

# OS
.DS_Store
Thumbs.db

# Vercel
.vercel

# Logs
*.log
logs/

# Database
*.db
*.sqlite3

# IDE
.vscode/
.idea/

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Temporary files
*.tmp
*.temp
